/* Main CSS stylesheet */

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12pt;
}

.main {
    margin: 23px;
}

h1, h2, h3, h4, h5, main, header, nav, p, a {
    font-size: 12pt;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: 600;
}

p, a {
    color: rgb(0,0,0);
    margin: 0;
}

p {
    line-height: 1.33;
}

a {
    text-decoration: none;
}

main a {
    text-decoration: underline;
    font-weight:400;
}

img {
    width: 100%;
}

body {
    padding: 10px;
}

/* **************************************** */

header {
    width: 100%;
    font-size: 10pt;
}

header .title {
    display: inline-block;
    width: 100%;
}

header .title h1 {
    text-transform: uppercase;
    font-size: inherit;
}

header .title h2 {
    font-weight: normal;
    font-size: inherit;
}

header a {
    font-size: inherit;
}

header .text {
    margin-top: 30px;
}

header .logo {
    height: 85px;
    width: auto;
    display: inline-block;
    float: left;
}

#header-nav {
    position: sticky;
    top: 0px;
    background-color: #000;
    color: #fff;
    padding: .5px 0 8px 0;
}

#header-nav nav {
    
}

#header-nav nav ul:first-child {
    padding-left: 4px;
}

#header-nav nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#header-nav nav ul li {
    float: left;
    margin-right: 4px;
    font-size: 10pt;
    text-transform: uppercase;
    font-weight: bold;
}

#header-nav nav ul li a {
    color: inherit;
    font-size: inherit;
}

#header-nav nav ul li a:hover {
    text-decoration: line-through;
}

/* **************************************** */

main {
    margin-top: 12px;
}

main h1 {
    text-transform: uppercase;
    background: #000;
    color: #fff;
    width: max-content;
    margin-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
}

main p {
    max-width: 550px;
    margin-bottom: 15px;
}

main figure {
    max-width: 450px;
    padding: 0;
    margin: 0;
}

main figure.large {
    max-width: 100%;
}

main figcaption {
    color: rgb(160,160,160);
    font-size: 9pt;
    text-align: right;
}

nav {
    margin-top: 7px;
}

nav ul li {
    margin: 1.5px 0;
}

nav ul li a.active {
    color: rgb(0,0,0);
}

nav ul li a.inactive {
    color: rgb(160,160,160);
}

header {
    margin-bottom: 24px;
}

