<IfModule mod_rewrite.c>

RewriteEngine On

# It might be necessary to set the RewriteBase:
RewriteBase / 

RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}.html -f 
RewriteRule ^(.*)$ $1.html [NC,L]

RewriteRule ^$ home.html [L]

# Error Page 
RewriteCond %{REQUEST_FILENAME} !-f  
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule .* error.html [L] 

</IfModule> 
